@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --font-family-normal: "Nunito", sans-serif;
  --font-family-title: "Nunito", sans-serif;

  --font-size-normal: calc(var(--gap) * 1.5);
  --font-size-small: calc(var(--gap) * 1.2);
  --font-size-extra-small: calc(var(--gap));
}

p code {
  font-size: calc(var(--gap) * 1.1);
}

code, .codeflask__textarea {
  font-family: "Fira Code", monospace !important;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}
